<header class="cabecera">
  <div class="cabecera-logo">
    <img src="assets/img/logoDeJovenesSinMarco.png" alt="Logo De Jóvenes" id="logo"/>
  </div>
  <div class="cabecera-texto">
    <h1>DEJÓVENES</h1>
    <h3>"Únete al club"</h3>
  </div>
  <div class="cabecera-leganes">
    <h2>Leganés</h2>
  </div>
</header>

<section class="registro">
  <h2>Registro</h2>

  <form [formGroup]="registroForm" (ngSubmit)="onSubmit()" class="formulario">
    <h3>Datos del Usuario</h3>

    <div>
      <label for="nombre">Nombre:</label>
      <input id="nombre" type="text" formControlName="nombre" placeholder="Nombre..." maxlength="100"
             [class.input-error]="f['nombre'].invalid && f['nombre'].touched">
      <div class="error-msg" *ngIf="f['nombre'].invalid && f['nombre'].touched">
        <span *ngIf="f['nombre'].errors?.['required']">El nombre es obligatorio.</span>
        <span *ngIf="f['nombre'].errors?.['minlength']">Mínimo 2 caracteres.</span>
      </div>
    </div>

    <div>
      <label for="direccion">Dirección:</label>
      <input id="direccion" type="text" formControlName="direccion" placeholder="Dirección..." maxlength="100"
             [class.input-error]="f['direccion'].invalid && f['direccion'].touched">
      <div class="error-msg" *ngIf="f['direccion'].invalid && f['direccion'].touched">
        <span *ngIf="f['direccion'].errors?.['required']">La dirección es obligatoria.</span>
        <span *ngIf="f['direccion'].errors?.['minlength']">Mínimo 4 caracteres.</span>
      </div>
    </div>

    <div>
      <label for="dni">DNI:</label>
      <input id="dni" type="text" formControlName="dni" placeholder="DNI..."
             [class.input-error]="f['dni'].invalid && f['dni'].touched">
      <div class="error-msg" *ngIf="f['dni'].invalid && f['dni'].touched">
        <span *ngIf="f['dni'].errors?.['dniInvalido']">DNI debe tener 8 dígitos y 1 letra mayúscula.</span>
      </div>
    </div>

    <div>
      <label for="fechaNac">Fecha Nacimiento:</label>
      <input id="fechaNac" type="date" formControlName="fechaNac"
             [class.input-error]="f['fechaNac'].invalid && f['fechaNac'].touched">
      <div class="error-msg" *ngIf="f['fechaNac'].invalid && f['fechaNac'].touched">
        <span *ngIf="f['fechaNac'].errors?.['required']">Fecha obligatoria.</span>
        <span *ngIf="f['fechaNac'].errors?.['fechaFutura']">No puedes nacer en el futuro.</span>
        <span *ngIf="f['fechaNac'].errors?.['muyAntiguo']">Fecha no válida (mayor de 120 años).</span>
      </div>
    </div>

    <div>
      <label class="sexo-label">Sexo:</label>
      <div class="sexo-options">
        <span><input type="radio" formControlName="sexo" value="hombre"> Hombre</span>
        <span><input type="radio" formControlName="sexo" value="mujer"> Mujer</span>
        <span><input type="radio" formControlName="sexo" value="nobinario"> No binario</span>
      </div>
      <div class="error-msg" *ngIf="f['sexo'].invalid && f['sexo'].touched">
        Selecciona una opción de sexo.
      </div>
    </div>

    <div>
      <label for="dniFile">Subir DNI (JPG):</label>
      <input type="file" id="dniFile" (change)="onFileChange($event)" accept=".jpg"
             [class.input-error]="f['dniFile'].invalid && f['dniFile'].touched"/>
      <div class="error-msg" *ngIf="f['dniFile'].invalid && f['dniFile'].touched">
         <span *ngIf="f['dniFile'].errors?.['required']">El archivo es obligatorio.</span>
         <span *ngIf="f['dniFile'].errors?.['tipoArchivoInvalido']">Solo se permite formato JPG.</span>
      </div>
    </div>

    <div class="intereses">
      <label for="interes">Intereses:</label>
      <select id="interes" formControlName="intereses" multiple size="4">
        <option value="Arte">Arte</option>
        <option value="Literatura">Literatura</option>
        <option value="Música">Música</option>
        <option value="Cocina">Cocina</option>
      </select>
      <div class="error-msg" *ngIf="f['intereses'].invalid && f['intereses'].touched">
        Selecciona al menos un interés.
      </div>
    </div>

    <div class="cpProvincia">
      <div class="cp">
        <label for="cp">Código Postal:</label>
        <input type="text" id="cp" formControlName="cp" placeholder="CP..."
               [class.input-error]="f['cp'].invalid && f['cp'].touched">
        <div class="error-msg" *ngIf="f['cp'].invalid && f['cp'].touched">
           Introduce un CP válido (5 dígitos).
        </div>
      </div>

      <div class="provincia">
        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" [value]="provinciaDetectada" readonly />
      </div>
    </div>

    <div class="situacionActual">
      <label for="situacion">Situación Actual:</label>
      <select id="situacion" formControlName="situacion">
        <option value="" disabled>Selecciona...</option>
        <option value="Estudiante">Estudiante</option>
        <option value="enParo">En Paro</option>
        <option value="Trabajando">Trabajando</option>
      </select>
      <div class="error-msg" *ngIf="f['situacion'].invalid && f['situacion'].touched">
        Campo obligatorio.
      </div>
    </div>

    <div class="condiciones">
      <label>
        <input type="checkbox" formControlName="aceptaCondiciones"/>
        Acepto las condiciones
      </label>
      <div class="error-msg" *ngIf="f['aceptaCondiciones'].invalid && f['aceptaCondiciones'].touched">
        Debes aceptar las condiciones.
      </div>
    </div>

    <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>
  </form>
</section>